<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/login" color="primary"></ion-back-button>
      <ion-title>Password Reset</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="false" class="ion-padding">

    <ion-card class="ion-padding">   
      <ion-card-content *ngIf="!isOTPValid">
        <form [formGroup]="validateOTPForm">
          <ion-item>
            <ion-label position="floating">Your Email Address</ion-label>
            <ion-input formControlName="email" placeholder="Your email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">One Time Password</ion-label>
            <ion-input maxLength="6" formControlName="otp" placeholder="The OTP sent to {{userEmail}}"></ion-input>
          </ion-item>
          <!-- <ion-item class="mt-4" lines="none" button (click)="sendOTP(validateOTPForm.getRawValue().email)" detail="false">
            <ion-icon *ngIf="!isLoading" slot="start" name="refresh-circle-outline" color="primary"></ion-icon>
            <ion-label>
              <small>Resend OTP<i> (expiring in 24 Hours) </i> </small>
            </ion-label>
          </ion-item> -->
        </form>
        <section style="text-align: center!important;">
          <ion-button color="success" class="ion-padding ion-margin" [disabled]="!validateOTPForm.valid" (click)="validateOTP()" expand="block">Validate OTP</ion-button> 
          <div>OR</div>
          <ion-button color="primary" class="ion-padding ion-margin"  expand="block" (click)="sendOTP(validateOTPForm.getRawValue().email)">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <ion-icon *ngIf="!isLoading" slot="start" name="refresh-circle-outline"></ion-icon>
            <small>Resend OTP<i> (expiring in 24 Hours) </i> </small>
          </ion-button> 
        </section>
      </ion-card-content>
      <ion-card-content *ngIf="isOTPValid">
        <form [formGroup]="resetPassword">
          <ion-item>
            <ion-label position="floating">Your Email Address</ion-label>
            <ion-input formControlName="email" placeholder="Your email"  readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Your new Password (<i>minimum 8 digits</i>)</ion-label>
            <ion-input #password (input)="setValidators(password.value)" type="password"  minLength="8" maxLength="20" formControlName="password" placeholder="12345678"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Repeat new Password</ion-label>
            <ion-input minLength="8" maxLength="20" formControlName="repeatPassword" type="password" placeholder="12345678..."></ion-input>
          </ion-item>
        </form>
        <section class="ion-padding">
          <ion-button [disabled]="!resetPassword.valid" (click)="resetUserPassword()" expand="block">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            Reset your password
          </ion-button>
        </section>
      </ion-card-content>

    </ion-card>

</ion-content>
