<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="ion-padding">
      <ion-searchbar mode="ios" (ionInput)='searchProducts($event)' placeholder="Type an Item"></ion-searchbar>
    </div>

    <div class="ion-text-center ion-text-uppercase"><ion-note>All Items</ion-note></div>
    <ion-list>
    <ion-item class="item-client" mode="ios" color="primary" *ngFor="let product of products"  [routerLink]="'product-details/'+ product.ItemCode" [detail]="true">
      <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
      <ion-label class="ion-text-wrap card-label" color="light">
        <h2>
          {{ product.ItemCode }}
        </h2>
        
        <h6>{{ (product.ItemName.length>25)? (product.ItemName | slice:0:18)+' ...':(product.ItemName) }}</h6>

      </ion-label>
      <ion-note slot="end" color="warning">99 {{product.UOM}}</ion-note>

    </ion-item>
  </ion-list>

</div>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more products ...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
