<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content scrollY="false" class="background">
  <!-- <img src="../../assets/images/bg-wide.jpg"> -->
  <div class="cover">
    <!-- <div class="cpl-logo"></div> -->

    <!-- <ion-item >
      <ion-label class="ion-text-center">Sales Visits</ion-label>
    </ion-item> -->
    <ion-toolbar class="ion-padding">
      <ion-title class="ion-text-center ion-text-uppercase">
        <img src="../../assets//images/cplicon.png" width="100px"><br>
          <small>Sales Visits</small>
      </ion-title>
    </ion-toolbar>
    <form autocomplete="off" id="frmLogin" (submit)="onSubmit()" [formGroup]="loginForm">
      <ion-item>
        <ion-label position="floating">Email </ion-label>
        <ion-input placeholder="e.g. sam@tomashi.dev" formControlName="email" type="email" autocomplete="off" clearInput="true" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password (<i>minimum 8 digits</i>)</ion-label>
        <ion-input minLength="8" maxLength="20" placeholder="e.g. 12345678..." formControlName="password" [type]="showPassword ? 'text' : 'password'" clearInput="true" required></ion-input>
      </ion-item>

      <div class="ion-padding show-password">
        <ion-label (click)="onPasswordToggle()" ion-button clear item-end icon-only style="background-color:#FFFFFF!important;">
          <ion-icon size="small" color="primary" [name]="showPassword ? 'eye-off' : 'eye'" style="margin:0px!important; font-size: 20px!important;"></ion-icon>
          <ion-note style="margin-bottom:40px!important;"> Show Password</ion-note>
        </ion-label>

      </div>
        <ion-button color="success" type="submit" [disabled]="!loginForm.valid" expand="block" class="login">Login</ion-button>
      </form>


      <div class="request-password-reset ion-text-center">


        <div>OR</div>

          <ion-button color="primary" class="ion-padding"  expand="block" (click)="showPasswordReset()">
            <ion-icon slot="start" name="refresh-circle-outline"></ion-icon>
            <small>Request for a password reset</small>
          </ion-button>
      </div>
      
  </div>

</ion-content>


<!-- <ion-footer class="ion-text-center ion-padding" style="background-color: #FFFFFF; color:#00000083"> -->
  <!-- <ion-toolbar style="padding: 0px;"> -->
  
<!-- </ion-toolbar> -->
<!-- </ion-footer> -->