<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/" color="light"></ion-back-button>
       <!-- <ion-note color="light">{{clientDetails[0]?.CustName}}</ion-note> -->
    </ion-buttons>
    <ion-buttons slot="primary">
      <!-- <ion-button (click)="presentActionSheet()">
        <ion-icon  name="ellipsis-vertical" size="medium" ></ion-icon>
      </ion-button> -->
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
