<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/" color="light"></ion-back-button>
       <ion-note color="light">{{itemGroup}}</ion-note>
    </ion-buttons>
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="scrollTo(itemCode)" id="viewSelectedItem">
        <ion-icon  name="barcode-outline" size="medium" ></ion-icon>
      </ion-button>
    </ion-buttons> -->
</ion-toolbar>
</ion-header>
<div class="loader"  *ngIf="isLoading">
  <ion-spinner name="lines" color="primary" mode="ios"></ion-spinner>
</div>
<ion-content fullscreen
[scrollEvents]="true" 
     (ionScrollStart)="logScrollStart($event)" 
     (ionScroll)="logScrolling($event)"
     (ionScrollEnd)="logScrollEnd($event)"
>

  
  <div class="ion-padding" slot="fixed" style="width: 100%!important" *ngIf="!isScrolling">
    <ion-searchbar mode="ios" placeholder="Type an Item"  (ionInput)='searchProduct($event)'></ion-searchbar>
  </div>
  <ion-card mode="ios" *ngFor="let product of products" style="margin:6rem 1rem!important;" id="{{product?.ItemCode}}">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let img of product?.ImageURL.split(';')">
        <img [src]="img" width="100%"/>
      </ion-slide>
    </ion-slides>
      <ion-item mode="ios">
        <!-- <span *ngFor="let img of thumbnails; let i = index">
          <ion-thumbnail  *ngIf="img.hasOwnProperty(product?.ItemCode)" (click)="presentActionSheet(i)">
            <img  [src]="img[product?.ItemCode]">
          </ion-thumbnail >
        </span> -->
        <span *ngFor="let img of thumbnails; let i = index">
          <ion-thumbnail class="itemImages" *ngIf="img.hasOwnProperty(product?.ItemCode);else other_content">
            <img  [src]="img[product?.ItemCode]" (click)="changeImage($event.target, product?.ItemCode, i)">
          </ion-thumbnail>
          <ng-template #other_content class="ion-padding" >           
            <ion-icon class="thumbnail" color="primary" size="large"  name="add-outline" (click)="changeImage($event.target, product?.ItemCode, i)"></ion-icon>
          </ng-template>      
        </span>
        
        <!-- <ion-icon color="primary" slot="end" name="camera-outline" (click)="capturePhoto(product?.ItemCode)"></ion-icon> -->
            <ion-icon color="primary" slot="end" name="cloud-upload-outline" (click)="updateProduct(product?.ItemCode)"></ion-icon>
      </ion-item>

    <ion-card-header>
      <ion-card-subtitle>{{product?.ItemCode}}</ion-card-subtitle>
      <ion-card-title><h6>{{product?.ItemName}}</h6></ion-card-title>
    </ion-card-header>
    <ion-card-content>
        
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <small>QTY</small>
          </ion-col>
          <ion-col>
           <small>PRICE INCL.</small>
          </ion-col>
          <ion-col>
            <small>TAX AMOUNT</small>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <small>{{product?.QtyOnHand | number}} {{product?.UOM}}</small>
          </ion-col>
          <ion-col>
            <small>{{(product?.SalePriceExcl * product?.SaleTaxRate/100) + product?.SalePriceExcl | currency:'KES '}}</small>
          </ion-col>
          <ion-col>
            <small>{{(product?.SalePriceExcl * product?.SaleTaxRate/100) | currency:'KES '}}</small>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="ion-padding ion-align-items-center">
        <ion-text>
          <h5 style="margin:0rem 1rem!important;">More items in {{itemGroup}} category</h5>
        </ion-text>
        <ion-slides options="{autoplay:true,speed: 100}" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
          <ion-slide *ngFor="let similar of similarProducts" >
            <!-- <p>{{'./product-details/'+ similar.ItemGroup +'/'+ similar.ItemCode+'/'+ ((pricelistId)? pricelistId: 1)}}</p> -->

            <ion-card (click)="viewItemDetails(similar.ItemGroup, similar.ItemCode, pricelistId)" >
              <table>
              <tr>
                <td>
                  <ion-thumbnail class="similarItemImages">
                    <img [src]="similar?.ImageURL.split(';')[0]">
                  </ion-thumbnail>
                </td>
                <td>
                  <small>
                    {{similar?.ItemName}}
                  </small>
                </td>
              </tr>
            </table>
          </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab size="small" vertical="bottom" horizontal="end"  slot="fixed" (click)="ScrollToTop()">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle-outline"></ion-icon> 
    </ion-fab-button>
  </ion-fab>
</ion-content>
