ion-toolbar {
    border:solid var(--ion-color-primary) 1px!important;
    border-radius: 5px !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

ion-title h4{
    font-family: "Codystar";
}