<ion-header>
  <ion-toolbar>
    <ion-title>INVOICES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="invoiceFilterForm" style="background: transparent!important;">
  <ion-card>
    <ion-item lines="none">
      <ion-text slot="start" id="open-fromDate-modal">From: {{this.invoiceFilterForm.getRawValue().fromDate}}</ion-text>
      <ion-text slot="end" id="open-toDate-modal">To: {{this.invoiceFilterForm.getRawValue().toDate}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-searchbar formControlName="client" debounce="500" #hint (ionInput)="searchClient(hint.value)" placeholder="Type client ..."></ion-searchbar>
    </ion-item>
  </ion-card>

  <ion-modal trigger="open-fromDate-modal">
    <ng-template>
      <ion-content>
        <ion-datetime  size="cover" formControlName="fromDate" (ionChange)="dateRangeChanged()" [showDefaultButtons]="true"  mode="md"  presentation="date"></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="open-toDate-modal">
    <ng-template>
      <ion-content>
        <ion-datetime size="cover"  formControlName="toDate" (ionChange)="dateRangeChanged()" [showDefaultButtons]="true"  mode="md" presentation="date"></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  <ion-accordion-group class="ion-padding">
    <ion-accordion value="{{index}}" *ngFor="let invoice of invoices; let index=index;">
      <ion-item slot="header">
        <ion-label>{{invoice.client}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        {{invoice.description}}

      <div class="ion-padding">
        <ion-icon slot="end"  (click)="printOrder()" color="primary" size="small" name="print-outline"></ion-icon>
      </div>
      </div>

    </ion-accordion>
  </ion-accordion-group>

</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="dismissModal()">Close</ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-footer>
