body{
    font-size: 12px !important;
}

ion-list{
    border: solid 2px var(--ion-color-primary);
    margin:5px 5px;
    border-radius: 10px;
    padding: 0px;
}

ion-content{
    margin-bottom:20px!important;
}

h6>small{
    font-weight:bold;
    text-transform: uppercase;
}

.loader{

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
